

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

@mixin fc($font, $color) {
  font-size: $font;
  color: $color;
}

@mixin show() {
  display: block;
}
@mixin hide() {
  display: none;
}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.show{
  display: block;
}

.hide{
  display: none;
}

.ab{
  position: absolute;
}

.borderBox{
  box-sizing: border-box;
}


.content-padding-left{
  padding-left: 1.6rem;
}
.mobile-wrap{
  padding-bottom: 1rem;
}

.text-ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// 整屏向左滑进
.slide-left-enter-active {
  transition: all .7s ease;
}
.slide-left-leave-active {
  transition: all .7s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-left-enter, .slide-left-leave-to {
  transform: translateX(20.48rem);
}
// 整屏向左滑出
.slide-left-hide-enter-active {
  transition: all .8s ease;
  transition-delay: .1s;
}
.slide-left-hide-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  transition-delay: .1s;
}
.slide-left-hide-enter, .slide-left-hide-leave-to {
  transform: translateX(-20.48rem);
}
