

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

@mixin fc($font, $color) {
  font-size: $font;
  color: $color;
}

@mixin show() {
  display: block;
}

@mixin hide() {
  display: none;
}

.show{
  display: block;
}

.hide{
  display: none;
}

.ab{
  position: absolute;
}

.content-padding-left{
  padding-left: 1.6rem;
}
