
@import "./mixin";

@font-face {
  font-family: 'iconfont';  /* project id 376989 */
  src: url('//at.alicdn.com/t/font_376989_popr5t0if6xenrk9.eot');
  src: url('//at.alicdn.com/t/font_376989_popr5t0if6xenrk9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_376989_popr5t0if6xenrk9.woff') format('woff'),
  url('//at.alicdn.com/t/font_376989_popr5t0if6xenrk9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_376989_popr5t0if6xenrk9.svg#iconfont') format('svg');
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
    box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: -apple-system, "PingFang SC","Helvetica Neue", Helvetica, STHeiTi, sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background: transparent;
}

body {
  width: 100%; height: 100%;
  -webkit-overflow-scrolling: touch;
  // background-color: #f6f6f6;
  background-color: #fff;
 }

:focus {
	outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
    display:block;
}


blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select,textarea {

  border: 0;
	-webkit-appearance: none;
	appearance:none;
  outline:none;

  &::placeholder{
    color: #999;
  }
}


ol, ul {
  list-style: none;
}

*:not(input, select, textArea) {
  -webkit-user-select: none;
}

input, select {
    vertical-align:middle;
}

img,a{
  -webkit-touch-callout:none;
}

a,a:active,a:hover,a:focus {
  text-decoration: none;
  border: none;
  outline: none;
}

i{
  font-style: normal;
}

a,button,input,textarea{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}

.content-html img{
  width: 2rem;
}

// 全局提示通用样式
.g-small-alert{
  font-size: .24rem; color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 1rem; left: 50%;
  min-width: 2rem;
  background-color: rgba(51, 51, 51, .8);
  z-index: 119;
  padding: .1rem .2rem;
  border-radius: 5px;
  transform: translateX(-50%);
}



// 全局loading等待

.g-data-loading-wrap{
  position: fixed;
  left: 0; right: 0; bottom: 0; top: 0;
  background-color: rgba(0,0,0,0);
  z-index: 119;
}

.g-data-loading{

  width: 2rem; height: 2rem;
  position: fixed;
  left: 50%; top: 20%;
  transform: translate3d(-50%, 20%, 0);
  background-color: rgba(0,0,0,.7);
  border-radius: 5px;
  text-align: center;

  h1{
    font-size: .24rem; color: #fff;
    transform: translate3d(0,1.4rem,0);
  }

  .showbox {
    position: absolute;
    top: .12rem; bottom: 0; left: 0; right: 0;
    padding: 5%;
  }

  .loader {
    position: relative;
    margin: 0 auto;
    width: 1rem;
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
  }


}


@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}


@keyframes color {
  100%,
  0% {
    stroke: #00A786;
  }
  40% {
    stroke: #00A786;
  }
  66% {
    stroke: #00A786;
  }
  80%,
  90% {
    stroke: #00A786;
  }
}

// 下拉刷新
.body-list{

 font-size: .24rem;
 padding-top: 1.05rem;
 overflow: hidden;

 > .mint-loadmore{
   padding-bottom: .6rem;
   height: 100%;
 }
 .mint-loadmore-top{
    color: #acacac;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: auto;

    > span:nth-of-type(3){
       margin-top: .4rem;
    }
 }
 .mint-loadmore-text{
   color: #ccc;
 }


 .no-data{
   @extend .ab;
   @include wh(2.4rem, 2.4rem);
   left: 50%; top: 4rem;
   margin-left: -1.2rem;
 }

}
.null{
    background: #fff url(./assets/img/404.svg) no-repeat center;
    background-size: 2.28rem 2.28rem !important;
}
