

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

@mixin fc($font, $color) {
  font-size: $font;
  color: $color;
}


.ab{
  position: absolute;
}

.show{
  display: block;
}

.hide{
  display: none;
}
