
 @import "../mixin";

 .g-login{

 	position: absolute;
 	left: 0; top: 0; right: 0; bottom: 0;
 	background-color: #f6f6f6;
 	z-index: 99;

 	input{
 		@include wh(4rem, .5rem);
 		@include fc(.26rem, #000);
    @include show();
 		margin: .3rem auto;
 		padding: .2rem;
 		&:nth-of-type(1){
 			margin-top: 3rem;
 		}
 	}

 	a{
 		@include wh(1.4rem, .45rem);
 		@include fc(.26rem, #fff);
 		display: flex;
 		justify-content: center;
 		align-items: center;
 		background-color: #2B7FD2;
 		margin: 0 auto;
 	}

 }
